<div class="character-tree">
  <div [class]="_nodeContainerClass">
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'SPACE'"></app-char-select-timer>
  </div>
  <div [class]="_nodeContainerClass">
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'T'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'E'"></app-char-select-timer>
  </div>
  <div [class]="_nodeContainerClass">
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'M'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'N'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'A'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'I'"></app-char-select-timer>
  </div>
  <div [class]="_nodeContainerClass">
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'O'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'G'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'K'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'D'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'W'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'R'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'U'"></app-char-select-timer>
    <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'S'"></app-char-select-timer>
  </div>
  <div [class]="_nodeContainerClass">
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'-'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'.'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'Q'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'Z'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'Y'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'C'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'X'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'B'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'J'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'P'"></app-char-select-timer>
      <div [class]="_nodeClass" style="width: 100px;">&nbsp;</div>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'L'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'-'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'G'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'V'"></app-char-select-timer>
      <app-char-select-timer [class]="_nodeClass" [gaugeMax]="_selectionTiming" [gaugeLabel]="'H'"></app-char-select-timer>
    </div>
</div>